{% extends 'base.html' %}

{% block content %}
    <div >
        <h4 class="text-center">Danh sách các học sinh đăng ký dự thi</h4>
        <h5 class="text-center"> {{ participant.name }} </h5>
        <hr>
        <table class="table table-bordered" id="table">
                <thead class="bg-info ">
                <tr>
                    <th scope="col" class="text-center">STT</th>
                    <th scope="col" class="text-center">Tên thí sinh</th>
                    <th scope="col" class="text-center">Ngày sinh</th>
                    <th scope="col" class="text-center">Giới tính</th>
                    <th scope="col" class="text-center">Số CMND</th>                  
                    <th scope="col" class="text-center">Số điện thoại</th>
                    <th scope="col" class="text-center">Trường</th>
                    <th scope="col" class="text-center">Môn thi</th>

                    <th scope="col" class="text-center">Trạng thái</th>
                    <th scope="col" class="text-center bg-primary" >Duyệt</th>
                    <th scope="col" class="text-center bg-warning">Từ chối</th>
                </tr>
                </thead>
                <tbody>           
                    {% for student in all_students %}
                    <tr >
                        <th scope="row" class="font-weight-normal text-center">{{ forloop.counter }}</th>
                        <th class="font-weight-normal text-center">{{ student.name }}</th>
                        <th class="font-weight-normal text-center">{{ student.birthday }}</th>
                        <th class="font-weight-normal text-center">{{ student.gender }}</th>
                        <th class="font-weight-normal text-center">{{ student.identity_number }}</th>
                        <th class="font-weight-normal text-center">{{ student.phone_numer }}</th>
                        <th class="font-weight-normal text-center">{{ student.school }}</th>
                        <th class="font-weight-normal text-center">{{ student.subject }}</th>

                        <th class="font-weight-normal text-center">{{ student.display_status_value }}</th>

                        <th class="font-weight-normal text-center">
                            <a href="{% url 'accept_student_request' participant.id student.id %} ">
                                <button type="button" class="btn btn-default btn-sm bg-primary" > Chấp nhận </button>
                            </a>    
                        </th>
                         <th class="font-weight-normal text-center">
                            <a href=" {% url 'reject_student_request' participant.id student.id %} ">
                                <button type="button" class="btn btn-default btn-sm bg-danger text-light" > Từ chối </button>
                            </a>    
                        </th>
                        
                        
                    </tr>
                    {% endfor %} 

                </tbody>
            </table>

        </div>
        
        <p>
            <strong>Tổng số thí sinh đăng ký dự thi: {{ all_students.count }}
        </p>



    

{% endblock content %}