{% extends 'base.html' %}

{% block content %}
    
    <div >
        <h4 class="text-center ">Danh sách tài khoản</h4>
        <hr>
        <table class="table table-bordered ">
            <thead class="bg-info ">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên tài khoản</th>
                <th scope="col">Loại tài khoản </th>
                <th scope="col">Tình trạng hoạt động</th>
                <th scope="col" class="text-center">Sửa</th>
                <th scope="col" class="text-center">Xóa</th>
            </tr>
            </thead>
            <tbody>           
                {% for user in all_users %}
                <tr >
                    <th scope="row" class="font-weight-normal">{{ forloop.counter }}</th>
                    <th class="font-weight-normal">{{ user.username }} </th>
                    <th class="font-weight-normal text-danger">
                        {% if user.is_DonViDuThi %}
                            Đơn vị dự thi
                        {% elif user.is_BanToChuc %}
                            Ban tổ chức
                        {% elif request.user.is_superuser %}
                            Admin
                        {% endif %}
                    </th>
                    <th class="font-weight-normal">Hoạt động</th>
                    <th class="font-weight-normal text-center">
                        <a href="#">
                            <button type="button" class="btn btn-default btn-sm bg-primary" > Sửa </button>
                        </a>    
                    </th>
                    <th class="font-weight-normal text-center">
                        <a href="#">
                            <button type="button" class="btn btn-default btn-sm bg-danger text-warning" > Xóa </button>
                        </a>    
                    </th>
                 </tr>
                {% endfor %} 

            </tbody>
        </table>

        <hr>    
    </div>

    <p>
        <strong>Total users registered: {{ all_users.count }}
    </p>
    
    
{% endblock content %}