{% extends 'base.html' %}

{% block content %}
    
    <h4 class="text-center">Sửa thông tin kì thi</h4>
    <hr>
    
    <form action=" {% url 'update_contest' contest.id %} " method='POST'>
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            
        {% endif %}
            <div class="form-group">
                <label for="contest_name">Tên kì thi</label>
                <input type="text" class="form-control" id="contest_name" name="contest_name" value="{{ contest.name }}">
            </div>
            <div class="form-group">
                <label for="day_start">Ngày bắt đầu</label>
                <input type="date" class="form-control" id="day_start" name="day_start" value="{{ contest.day_start }}">
            </div>
            <div class="form-group">
                <label for="day_end">Ngày kết thúc</label>
                <input type="date" class="form-control" id="day_end" name="day_end" value="{{ contest.end }}">
            </div>
            <div class="form-group">
                <label for="subject">Các môn thi</label>
                
                <ul>
                    {% for subject in all_subjects %}
                        {% if subject in subjects_in_contest %}
                            <li><input class="form-check-label" type="checkbox" id="subject" name="subject" value="{{ subject.name }}" checked>{{ subject.name }} </li>
                        {% else %}
                            <li><input class="form-check-label" type="checkbox" id="subject" name="subject" value="{{ subject.name }}">{{ subject.name }}</li>
                        {% endif %}
                        
                    {% endfor %}
                </ul>
            </div>
        
            <button type="sutbmit" class="btn btn-primary">Lưu thông tin kì thi</button>
        
    </form>

{% endblock content %}